html{
    color: #8A516E01;
    background: #011e0d;
    background-attachment: fixed;
    max-height: 50%;
}

.texto{
    display: none;
}
/* img{
    max-width: 30vw;
    max-height: 30vh;
} */
body{
    display: flex;
    flex-direction: row;
}
.R{
    left: 40vw;
    width: 60vw;
    height: 100vh;
    position: fixed;
    margin: -8px 10px 0 10px;
}
.L{
    /* margin-top: 100px; */
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
section.sec{
    display: block;
    width: 100%;

    display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
article{
  min-width: min-content;
  width: 32%;
  margin: 8px 0px 0px 0px;
}
.turnt {
    /* background-image: url("img/turnt/1.png"); 
    background-size: cover;
    background-repeat: no-repeat;*/
    /* width: 99%;
    height: 74%; */
    width: 100%;
    height: 74%;
  }
iframe{
  padding: 0 10px 10px 10px;
  height: 15vh;
  width: 57vw;
}
.iframeCont{
  display: block;
  background: url('img/bg.png');
  background-size: 72vh;
  width: fit-content;
}
marquee.marq {
  color: #fff;
  background: crimson;
  font-size: 32px;
  margin: 10px 0 10px 0;
  }
#pluma{
    width: 28vh;
    /* height: 100vh; */
    position: fixed;
    /* top: -22.5vh; */
    /* right: 21vw; */
    margin-left: 25vw;
    margin-top: -43.5vh;
}
.t{
    width: 58vw;
    position: fixed;
}
#titulos {
  /* background-color: #59705d; */
  text-align: center;
  font-size: 32px;
  /* margin-top: -37px; */
  padding-bottom: 79px;
  color: #FFFFFF;
}
u{
  font-family: Engravers MT;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
#cont2 {
  background-color: #FFFFFF;
  color: #033912;
}
.Rcont2 {
  margin-top: 16vh;
}
.Rcont1 {
  position: absolute;
  margin-top: -26vh;
}

/* Con animaciones ----------------------------------------------- */

.portada{
  margin-top: -26px;
  margin-bottom: 0px;
  animation-duration: 1s;
  animation-name: siuuu-1;
  width: 100%;
  min-width: 182px;
}
.portada:hover{
  margin-top: -80px;
  margin-bottom: 54px;
  animation-duration: 1s;
  animation-name: siuuu;
}

.portada_alt{
  margin-top: -26px;
  margin-bottom: -10px;
  animation-duration: 1s;
  animation-name: siuuu-1_alt;
  width: 100%;
  border-bottom: #42975f 10px solid;
  min-width: 182px;
}
.portada_alt:hover{
  margin-top: -80px;
  margin-bottom: 44px;
  animation-duration: 1s;
  animation-name: siuuu_alt;
}
#sleeve{
      /*margin-top: 83px;*/
      box-shadow: #000000ad 20px 9px 20px 0px;
      margin-bottom: 40px;
      width: 100%;
  }

  @keyframes siuuu{
    from {
      margin-top: -26px;
      margin-bottom: 0px;}
    to {
      margin-top: -80px;
      margin-bottom: 54px;}
  }
  @keyframes siuuu-1{
    from {
      margin-top: -80px;
      margin-bottom: 54px; }
    to {
      margin-top: -26px;
      margin-bottom: 0px;}
  }
  
  @keyframes siuuu_alt{
    from {
      margin-top: -26px;
      margin-bottom: -10px;}
    to {
      margin-top: -80px;
      margin-bottom: 44px;}
  }
  @keyframes siuuu-1_alt{
    from {
      margin-top: -80px;
      margin-bottom: 44px; }
    to {
      margin-top: -26px;
      margin-bottom: -10px;}
  }

/* Agregados/con funciones --------------------------- */

#sleeve{
  /*margin-top: 83px;*/
  box-shadow: #000000ad 20px 9px 20px 0px;
  margin-bottom: 40px;
  width: 100%;
}

.footer {
  position: fixed;
  right: 25px;
  top: 187px;
  color: transparent;
  width: 60%;
  height: 465px;
  /* background-color: #00FF; */
}
.footer_2{
  position: fixed;
  right: 25px;
  top: 187px;
  color: transparent;
  width: 60%;
  height: 465px;
}
.footer_3{
  /*right: 25px;
  top: 187px;
  width: 100%;*/
}

#disco_1{
  width: 25.25vw;
  position: fixed;
  /* left: 43vw; */
  margin: 4.1vh 0 0 2vw;   
}
#disco{
  width: 9vw;
  position: fixed;
  /* left: 745.3px; */
  /* top: 334px; */
  margin: 20.8vh 0 0 10.2vw;
}

.flip-box {
  margin: 10vh 0 6vh 0;
  background-color: transparent;
  width: 416.3px;
  height: 416.3px;
  perspective: 900px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
  transition: transform 2s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}




